* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, ul, ol, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}


.container {
  max-width: 400px;
  margin: 0 auto;

}

body {
  background-color: black;
  position: relative;
}

.back {
  position: fixed;
  top: 17%;
  z-index: -1;
}