.content {
  max-width: 400px;
  margin: 0 auto;
}

.name {
  color: white;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.orbita {
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.danger {
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.red {
  color: red;
  display: inline-block;
  padding-left: 10px;
}

.green {
  color: green;
  display: inline-block;
  padding-left: 10px;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #F86600;
  border-radius: 16px;
  padding: 8px;
  color: #fff;
  width: 50%;
  transition: all 0.4s ease-in-out;
}

.back:hover {
  color: #F86600;
  background-color: #fff;
}